
.sidebar {
    background-color: rgb(251, 250, 250);
    color: black;
    left: 0;
    top: 70px;
    width: 200px;
    height: 590px;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 50;
    /* border-right: #71a44f 1px solid; */
    overflow-y: scroll;
    scrollbar-width: none;
}
/* @media (max-width:1200px) {
    .sidebar {
        display: none;
    }
       
    } */

@media (max-width:992px) {
    .sidebar {
        display: none;
    }
  
}
@media (max-width:768px) {
    .sidebar {
        display: none;
    }
   
}
@media (max-width:481px) {
    .sidebar {
        display: none;
    }
}

.sidebar h3 {
    font-size: x-large;
    font-weight: 700;
}
.sidebar i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    background-color: #71a44f;
    border-radius: 50%;
    color: white;
    box-shadow:0 10px 20px rgba(191, 245, 187, 0.22) ;
    cursor: pointer;
    transition: 0.5s;
    transform: scale(0.90);
}
.sidebar i:hover {
    background-color: white;
    color: #71a44f;
}
.music-link,
.library-link,
.buzz-link,
 .podcast-link {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    font-size: 15px;
}
.sidebar-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-around; */
    gap: 8px;
    height: 40px;
    margin-bottom: 10px;
    /* align-items: center; */
    padding-right: -5px;

}
